main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

header {
  width: 100%;
  height: 5rem;
}

.img-logo {
  background-image: url("./paws.png");
  height: 5rem;
}

h1 {
  text-align: center;
  padding: 100px 0 100px 0;
}

#btnContainer {
  width: 150px;
  height: 600px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  width: 500px;
  height: 500px;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}


